{% extends "base.jinja2" %}
{% block title %}Link expired{% endblock title %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">This link has expired</h1>
      <p class="govuk-body">Book download links are only valid for 15 minutes. Please ask a lodge member to generate a new one.</p>
    </div>
  </div>
{% endblock content %}
